body {
}

.show{
    display: initial !important;
}
.hide{
    display: none !important;
}

.asset-create-header {
    display: grid;
    grid-template-columns: 40% 30% 30%;
    width: 50%;
    color: green;
}

