body {
}

.show{
    display: initial !important;
}
.hide{
    display: none !important;
}

.asset-create-header {
    display: grid;
    grid-template-columns: 40% 30% 30%;
    width: 50%;
    color: green;
}

.left-wick {
    height: 100%;
    width: 100%;
    border: none;
    border-right: solid;
}
.right-wick{
    height: 100%;
    width: 100%;
    border: none;
    border-left: solid;
}

.wick{
    display: grid;
    grid-template-columns: 50% 50%;
}
.chart-row{
    display: grid;
    grid-template-columns: 10% 90%;
}
.seriesHigh{
    display:block;
    width: 100%;
}
.seriesLow{
    display: block;
    width: 100%;
}
.vertical-chart-axis {
    position: relative;
    height: 100%;
}
.tick-mark{
    height: 10%;
}
.x-label{
    font-size: 2em;
    text-align:center;
}
.candle{
    text-align:center;
}