body {
}

.show{
    display: initial !important;
}
.hide{
    display: none !important;
}

.asset-create-header {
    display: grid;
    grid-template-columns: 40% 30% 30%;
    width: 50%;
    color: green;
}

.left-wick {
    height: 100%;
    width: 100%;
    border: none;
    border-right: solid;
}
.right-wick{
    height: 100%;
    width: 100%;
    border: none;
    border-left: solid;
}

.wick{
    display: grid;
    grid-template-columns: 50% 50%;
}